*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header nav a{
    color: #AAA;
    
}
header nav a:hover{
    color: rgb(255, 255, 255);
}
header div{
    height: 100%;
    width: 100%;
    
}
h2 {
    position: relative;
    left: 30px;
    
}
.principal{
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url(../img/nanatsu-bg.jpg);
  height: 435px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.w2{
 background: rgba(87, 86, 86, 0.432);
 border: rgba(87, 86, 86, 0.842);
 padding: 8px;
}
.bg {
    background-color: black;
}
.btn:hover {
    border:black;
    background-color: white;
    color: black;
    
}
i {
    margin-right: 8px;
    margin-left: 4px;
    
}
.section-um {
    margin-left: 30px;
}
.box-filme{
    height: 400px;
    width: 100%;
    display: block;
}
.carrosel-filmes {
    margin-top: 20px;
}

